backups/wf-recepcionista-v4-backup-2026-03-21.json
{"updatedAt":"2026-03-21T07:38:25.970Z","createdAt":"2026-03-20T06:00:34.175Z","id":"kLpuSxhruNC5Ycas","name":"Clínica Dental - Recepcionista WhatsApp (v4 POSTGRES)","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"clinica-dental-whatsapp-v4","options":{}},"id":"wh-v4","name":"Webhook Evolution API","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3552,3120],"webhookId":"clinica-dental-whatsapp-v4","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"condition_1","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"@g.us","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"id":"filter-priv-v4","name":"Solo Chats Privados","type":"n8n-nodes-base.if","typeVersion":2,"position":[-3232,3120]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cond_text1","leftValue":"={{ $json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"}},{"id":"cond_text2","leftValue":"={{ $json.body.data.messageType }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"or"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cond_audio","leftValue":"={{ $json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra"}},"id":"switch-tipo-v4","name":"Tipo de Mensaje","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-2816,3104]},{"parameters":{"jsCode":"const webhookData = $('Webhook Evolution API').first().json;\nconst messageType = webhookData.body.data.messageType;\n\nlet userMessage = '';\nlet phoneNumber = webhookData.body.data.key.remoteJid.replace('@s.whatsapp.net', '');\nlet pushName = webhookData.body.data.pushName || 'Usuario';\n\nif (messageType === 'conversation') {\n  userMessage = webhookData.body.data.message.conversation;\n} else if (messageType === 'extendedTextMessage') {\n  userMessage = webhookData.body.data.message.extendedTextMessage.text;\n} else if (messageType === 'audioMessage') {\n  try {\n    const whisperItems = $('Transcribir con Whisper').all();\n    if (whisperItems && whisperItems.length > 0) {\n      const whisperJson = whisperItems[0].json;\n      userMessage = whisperJson.text || whisperJson.transcription || '[Audio sin transcripción]';\n    } else {\n      userMessage = '[No se pudo transcribir el audio]';\n    }\n  } catch (e) {\n    userMessage = '[Error al transcribir audio: ' + e.message + ']';\n  }\n}\n\n// Calcular calendario de referencia (2 semanas)\nconst dias = ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'];\nconst meses = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'];\n\n// Hoy en Paraguay (UTC-3 o UTC-4)\nconst ahora = new Date();\n// Ajustar a Paraguay (UTC-3 standard, UTC-4 en invierno)\nconst paraguayOffset = -3; // PYT\nconst utc = ahora.getTime() + (ahora.getTimezoneOffset() * 60000);\nconst paraguayTime = new Date(utc + (3600000 * paraguayOffset));\n\nconst hoy = new Date(paraguayTime.getFullYear(), paraguayTime.getMonth(), paraguayTime.getDate());\n\nlet calendario = '';\nfor (let i = 0; i < 21; i++) {\n  const d = new Date(hoy.getTime() + (i * 86400000));\n  const diaSemana = dias[d.getDay()];\n  const fecha = d.getDate();\n  const mes = meses[d.getMonth()];\n  const yyyy = d.getFullYear();\n  const fechaISO = `${yyyy}-${String(d.getMonth()+1).padStart(2,'0')}-${String(fecha).padStart(2,'0')}`;\n  const marca = i === 0 ? ' ← HOY' : '';\n  calendario += `- ${diaSemana} ${fecha} de ${mes} ${yyyy} (${fechaISO})${marca}\\n`;\n}\n\nconst fechaHoy = `${dias[hoy.getDay()]} ${hoy.getDate()} de ${meses[hoy.getMonth()]} de ${hoy.getFullYear()}`;\nconst horaActual = `${String(paraguayTime.getHours()).padStart(2,'0')}:${String(paraguayTime.getMinutes()).padStart(2,'0')}`;\n\n\n// Leer configuración del panel\nlet configPanel = {};\ntry {\n  const configItems = $('Leer Config Panel').all();\n  if (configItems && configItems.length > 0) {\n    configPanel = configItems[0].json;\n  }\n} catch (e) {\n  configPanel = {};\n}\n\n// Generar tabla de servicios desde la config\nlet tablaServicios = '';\nconst serviciosConfig = configPanel.servicios || [];\nif (serviciosConfig.length > 0) {\n  tablaServicios = '| Servicio | Duración | Precio |\\n|----------|----------|--------|\\n';\n  serviciosConfig.forEach(s => {\n    const precio = s.precio ? s.precio.toLocaleString('es-PY') + ' PYG' : 'Consultar';\n    tablaServicios += '| ' + s.nombre + ' | ' + s.duracion + ' min | ' + precio + ' |\\n';\n  });\n} else {\n  tablaServicios = 'No hay servicios configurados aún.';\n}\n\n// Generar horarios legibles\nlet horariosTexto = '';\nconst horariosConfig = configPanel.horarios || {};\nconst diasOrden = ['lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado', 'domingo'];\nconst diasLabelConfig = { lunes: 'Lunes', martes: 'Martes', miercoles: 'Miércoles', jueves: 'Jueves', viernes: 'Viernes', sabado: 'Sábado', domingo: 'Domingo' };\ndiasOrden.forEach(d => {\n  const h = horariosConfig[d];\n  if (h) {\n    horariosTexto += diasLabelConfig[d] + ': ' + (h.cerrado ? 'Cerrado' : h.abre + ' - ' + h.cierra) + '\\n';\n  }\n});\n\nreturn [{\n  json: {\n    chatInput: userMessage,\n    sessionId: phoneNumber,\n    phoneNumber: phoneNumber,\n    pushName: pushName,\n    instanceName: webhookData.body.instance,\n    messageType: messageType,\n    timestamp: new Date().toISOString(),\n    fechaHoy: fechaHoy,\n    horaActual: horaActual,\n    calendario: calendario,\n    configPanel: configPanel,\n    tablaServicios: tablaServicios,\n    horariosTexto: horariosTexto,\n    nombreClinica: configPanel.nombre_clinica || 'Clínica Dental',\n    nombreBot: configPanel.nombre_bot || 'Sofía',\n    direccionClinica: configPanel.direccion || '',\n    telefonoClinica: configPanel.telefono || '',\n    emailClinica: configPanel.email || '',\n    promptSistema: configPanel.prompt_sistema || '',\n    mensajeBienvenida: configPanel.mensaje_bienvenida || '',\n    clinicaId: configPanel.clinica_id || null\n  }\n}];"},"id":"code-prep-v4","name":"Preparar Datos","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1984,3088]},{"parameters":{"text":"={{ $json.chatInput }}","guardrails":{"nsfw":{"value":{"threshold":0.7}}}},"id":"guard1-v4","name":"Guardrails1","type":"@n8n/n8n-nodes-langchain.guardrails","typeVersion":2,"position":[-1712,3088],"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"={{ $('Preparar Datos').item.json.chatInput }}","options":{"systemMessage":"=# ZONA HORARIA CRITICA\n\nSIEMPRE usa America/Asuncion para TODOS los cálculos de fecha y hora.\nAl enviar fechas a Google Calendar usa siempre el offset -03:00.\n\nEjemplo correcto: 2026-03-20T10:00:00-03:00\nEjemplo incorrecto: 2026-03-20T10:00:00Z\n\n---\n\n# FECHA Y HORA ACTUAL\n\nHoy es: {{ $('Preparar Datos').item.json.fechaHoy }}\nHora actual: {{ $('Preparar Datos').item.json.horaActual }} (America/Asuncion)\n\n# CALENDARIO DE REFERENCIA (FUENTE DE VERDAD)\n\n{{ $('Preparar Datos').item.json.calendario }}\n\nREGLA CRITICA: JAMAS calcules o adivines qué día de la semana corresponde a una fecha. SIEMPRE consulta el calendario de arriba. Si el paciente dice un día (ej: \"viernes\"), busca en el calendario cuál es la fecha exacta del próximo día con ese nombre y usa ESA fecha.\n\n---\n\nIMPORTANTE: Antes de responder CUALQUIER mensaje, SIEMPRE debes usar las herramientas disponibles. Nunca respondas sin antes consultar las herramientas correspondientes.\n\n# IDENTIDAD Y ROL\n\nEres **{{ $('Preparar Datos').item.json.nombreBot }}** 😊, la asistente virtual de recepción de {{ $('Preparar Datos').item.json.nombreClinica }}.\n\n## Tu personalidad:\n- Eres cálida, amable y siempre tenés buena onda\n- Hablás de forma natural y cercana, como una recepcionista real que te recibe con una sonrisa\n- Usás un tono profesional pero nunca frío ni robótico\n- Te preocupás genuinamente por el bienestar del paciente\n- Cuando algo sale bien, celebrás con entusiasmo\n- Si el paciente tiene dolor o urgencia, mostrás empatía real\n- Podés usar expresiones como: \"¡Perfecto!\", \"¡Genial!\", \"¡Listo!\", \"Dale\", \"¡Con gusto!\", \"¡Excelente!\", \"No te preocupes\"\n- Tuteás al paciente (usás \"vos/tu\" nunca \"usted\")\n\n## Ejemplos de cómo respondés:\n- Saludo: \"¡Hola! 😊 Soy {{ $('Preparar Datos').item.json.nombreBot }}, de {{ $('Preparar Datos').item.json.nombreClinica }}. ¿En qué te puedo ayudar hoy?\"\n- Cita creada: \"¡Listo, ya quedó agendado! 🎉 Te esperamos el [fecha] a las [hora]. ¡Va a quedar todo bárbaro!\"\n- Cita modificada: \"¡Dale, ya te cambié la cita! 📅 Ahora quedó para el [fecha] a las [hora]. ¿Algo más que necesites?\"\n- Cita cancelada: \"Listo, ya cancelé tu cita. ¿Querés que te agende para otro día? 😊\"\n- Paciente nuevo: \"¡Bienvenido/a! 🙌 Para agendarte necesito tu nombre completo. ¿Me lo pasás?\"\n- Urgencia: \"Entiendo que es urgente. 😟 Dejame buscar el horario más cercano disponible para vos.\"\n- Disponibilidad: \"Tengo estos horarios disponibles para vos 👇\"\n- Despedida: \"¡Que tengas un excelente día! 😄 Cualquier cosa, acá estoy.\"\n\n# INFORMACION DE LA CLINICA\n\n- Nombre: {{ $('Preparar Datos').item.json.nombreClinica }}\n- Dirección: {{ $('Preparar Datos').item.json.direccionClinica }}\n- Teléfono emergencias: {{ $('Preparar Datos').item.json.telefonoClinica }}\n- Email: {{ $('Preparar Datos').item.json.emailClinica }}\n\n## Horario de Atención\n{{ $('Preparar Datos').item.json.horariosTexto }}\nZona horaria: America/Asuncion\n\n# SERVICIOS, DURACION Y PRECIOS\n\n{{ $('Preparar Datos').item.json.tablaServicios }}\n\n# REGLAS OBLIGATORIAS DE BASE DE DATOS\n\n1. SIEMPRE ejecuta Buscar Paciente DB PRIMERO con el teléfono del paciente antes de cualquier otra operación\n2. Después de registrar un paciente nuevo, vuelve a ejecutar Buscar Paciente DB para verificar que se registró correctamente\n3. SIEMPRE ejecuta Guardar Cita DB después de crear una cita en Calendar, usando el Event_ID devuelto\n4. NO confirmes ninguna operación hasta que la herramienta correspondiente confirme el éxito\n\n# REGLAS DE ESTADOS DE CITAS\n\n- Pendiente: cuando se crea una cita nueva (automático en Guardar Cita DB)\n- Confirmada: cuando el paciente confirma su cita existente sin cambios\n- Modificada: cuando se cambia la fecha, hora o tipo de una cita existente. SIEMPRE usa Modificar Cita DB para esto.\n- Cancelada: cuando el paciente cancela la cita\n- Completada: cuando la cita ya se realizó\n\nREGLA: Si el paciente cambia fecha u hora, SIEMPRE usa \"Modificar Cita DB\" (NO \"Actualizar Estado Cita DB\"). Modificar Cita DB actualiza fecha, hora Y pone estado \"Modificada\" automáticamente.\n\n# REGLAS CLAVE\n\n## A) Identificación del paciente (OBLIGATORIO EN CADA CONVERSACIÓN)\n- El teléfono del paciente es: {{ $('Preparar Datos').item.json.phoneNumber }}\n- Su nombre de WhatsApp es: {{ $('Preparar Datos').item.json.pushName }}\n- SIEMPRE al inicio de la conversación, usa Buscar Paciente DB con el teléfono para saber si ya está registrado\n- Si YA existe: saludá por su nombre registrado y NO vuelvas a pedir datos\n- Si NO existe: pedile su nombre completo. Email y fecha de nacimiento son opcionales. Registralo con Registrar Paciente DB antes de cualquier otra acción\n- NUNCA agendes una cita sin saber el nombre del paciente\n\n## B) Duración y hora de fin\n- Calcula End = Start + Duración del servicio\n- SIEMPRE muestra rango: ⏰ HH:MM - HH:MM\n\n## C) Calendar\n- Start y End en ISO 8601 con offset -03:00\n- End coherente con duración del servicio\n\n# HERRAMIENTAS\n\n## Google Calendar\n- Ver Disponibilidad: SIEMPRE antes de proponer fecha/hora. Devuelve EVENTOS OCUPADOS.\n- Crear Cita: Guardar eventId para la base de datos. Título: [Tipo] - [Nombre]\n- Actualizar Cita: Necesita eventId de Buscar Cita DB\n- Eliminar Cita: Necesita eventId de Buscar Cita DB. NUNCA inventar IDs.\n\n## Base de Datos (PostgreSQL)\n- Buscar Paciente DB: busca por teléfono del paciente\n- Registrar Paciente DB: nombre + teléfono requeridos\n- Buscar Cita DB: busca por teléfono, devuelve event_id_google\n- Guardar Cita DB: DESPUES de crear en Calendar, con event_id_google (citas nuevas)\n- Modificar Cita DB: Actualiza fecha, hora y estado a \"Modificada\". USAR cuando el paciente cambia fecha/hora.\n- Actualizar Estado Cita DB: SOLO para cambiar estado sin cambiar fecha/hora (Confirmada, Cancelada, Completada)\n\n## Gmail - Escalar a Humano\n\n# FLUJOS\n\n## Reservar: Buscar Paciente DB → Registrar si nuevo → Disponibilidad → Crear Calendar → Guardar Cita DB\n## Modificar: Buscar Cita DB → Disponibilidad → Actualizar Calendar → Modificar Cita DB (con nueva fecha/hora)\n## Cancelar: Buscar Cita DB → Eliminar Calendar → Actualizar Estado Cita DB (Cancelada) → Ofrecer reagendar\n## Confirmar: Buscar Cita DB → Actualizar Estado Cita DB (Confirmada)\n## Consulta: Buscar Cita DB → Mostrar detalles\n\n# REGLAS DE NEGOCIO\n- Antelación mínima: 2 horas\n- Antelación máxima: 30 días\n- Solo dentro del horario de la clínica\n- Sin citas en festivos\n- Cuando el paciente pregunte por servicios, precios o qué tratamientos ofrecen, SIEMPRE mostrá la lista completa de servicios con duración y precio\n- Cuando el paciente quiera agendar una cita, mencioná los servicios disponibles para que elija\n\n# DATOS DEL PACIENTE ACTUAL\n- Teléfono: {{ $('Preparar Datos').item.json.phoneNumber }}\n- Nombre WhatsApp: {{ $('Preparar Datos').item.json.pushName }}\n\n\n# SERVICIOS\n| Servicio | Duracion |\n|----------|----------|\n| Primera visita | 30 min |\n| Limpieza dental | 45 min |\n| Empaste | 30 min |\n| Extraccion simple | 30 min |\n| Extraccion compleja | 60 min |\n| Endodoncia | 90 min |\n| Blanqueamiento | 90 min |\n| Ortodoncia (consulta) | 45 min |\n| Implante (consulta) | 60 min |\n| Urgencia dental | 30 min |\n\n# COMUNICACION\n- Usá emojis con criterio para dar calidez: 😊 🦷 📅 ⏰ ✅ 📍 🎉 🙌 👍 👇 😄\n- Fechas siempre verificadas con el CALENDARIO DE REFERENCIA\n- Mensajes cortos pero con onda, nada de textos largos ni formales\n- Nunca uses lenguaje robótico como \"Procederé a\", \"He procedido\", \"Se ha registrado exitosamente\"\n- En su lugar usá: \"¡Listo!\", \"¡Ya quedó!\", \"¡Perfecto, agendado!\"\n\n# INSTRUCCIONES PERSONALIZADAS DEL ADMINISTRADOR\n\n{{ $('Preparar Datos').item.json.promptSistema }}\n\n# DISPONIBILIDAD CALENDAR\ntimeMin/timeMax en ISO 8601 con offset -03:00"}},"id":"agent-v4","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-448,3008],"onError":"continueErrorOutput"},{"parameters":{"operation":"sanitize","text":"={{ $json.output }}","guardrails":{"secretKeys":{"value":{"permissiveness":"balanced"}},"urls":{"value":{"allowedUrls":"maps.google.com,google.com/maps,goo.gl"}}}},"id":"guard-out-v4","name":"Guardrails","type":"@n8n/n8n-nodes-langchain.guardrails","typeVersion":2,"position":[480,2960],"onError":"continueErrorOutput"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Preparar Datos').item.json.instanceName }}","remoteJid":"={{ $('Preparar Datos').item.json.phoneNumber }}@s.whatsapp.net","messageText":"={{ $json.guardrailsInput || $('AI Agent').item.json.output }}","options_message":{}},"id":"send-v4","name":"Enviar texto","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1152,3136],"credentials":{"evolutionApi":{"id":"qHeYB0KzCYZZNLzA","name":"Evolution account"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Preparar Datos').item.json.instanceName }}","remoteJid":"={{ $('Webhook Evolution API').item.json.body.data.key.remoteJid }}","messageText":"Lo siento. No puedo ayudarte con eso.","options_message":{}},"id":"send-nsfw-v4","name":"Enviar texto1","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1392,3488],"credentials":{"evolutionApi":{"id":"qHeYB0KzCYZZNLzA","name":"Evolution account"}}},{"parameters":{"amount":2},"id":"wait-v4","name":"Esperar 2s (audio listo)","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2688,3408],"webhookId":"1c9ac3f8-8129-457b-a677-621e30fdb6f6"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $(\"Webhook Evolution API\").item.json.body.instance }}","messageId":"={{ $('Webhook Evolution API').item.json.body.data.key.id }}"},"id":"media-v4","name":"Obter media em base64","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2496,3408],"credentials":{"evolutionApi":{"id":"qHeYB0KzCYZZNLzA","name":"Evolution account"}}},{"parameters":{"jsCode":"const inputData = $input.first().json;\nconst base64Raw = inputData.data?.base64 || inputData.base64 || '';\nif (!base64Raw) throw new Error('Campo base64 no encontrado');\nconst base64Clean = base64Raw.includes(',') ? base64Raw.split(',')[1] : base64Raw;\nconst buffer = Buffer.from(base64Clean, 'base64');\nconst mimetype = inputData.data?.mimetype || inputData.mimetype || 'audio/ogg; codecs=opus';\nconst ext = mimetype.includes('mp4') ? 'mp4' : mimetype.includes('mpeg') ? 'mp3' : 'ogg';\nconst binaryData = await this.helpers.prepareBinaryData(buffer, 'audio.' + ext, mimetype);\nreturn [{ json: inputData, binary: { data: binaryData } }];"},"id":"b64-v4","name":"Convertir Base64 a Binario","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2304,3408]},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"es"}},"id":"whisper-v4","name":"Transcribir con Whisper","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-2144,3376],"credentials":{"openAiApi":{"id":"U3PJrrsynoQzlFlh","name":"OpenAi account"}}},{"parameters":{"jsCode":"const webhookData = $('Webhook Evolution API').first().json;\nconst phoneNumber = webhookData.body.data.key.remoteJid.replace('@s.whatsapp.net', '');\nconst instanceName = webhookData.body.instance;\nreturn [{ json: { phoneNumber, instanceName, message: '¡Hola! 😊 Por el momento solo puedo leer mensajes de texto y audios. Si necesitas ayuda con una cita, por favor escríbeme un mensaje de texto. ¡Gracias!' } }];"},"id":"unsup-prep-v4","name":"Preparar Resp No Soportado","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2496,3712]},{"parameters":{"resource":"messages-api","instanceName":"={{ $json.instanceName }}","remoteJid":"={{ $json.phoneNumber }}@s.whatsapp.net","messageText":"={{ $json.message }}","options_message":{}},"id":"unsup-send-v4","name":"Resp Tipo No Soportado","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2176,3712],"credentials":{"evolutionApi":{"id":"qHeYB0KzCYZZNLzA","name":"Evolution account"}}},{"parameters":{},"id":"err-trigger-v4","name":"Error en Workflow","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-3552,3728],"disabled":true},{"parameters":{"jsCode":"const error = $input.all()[0].json;\nreturn [{ json: { subject: '[ERROR] Clinica Dental - Recepcionista WhatsApp v4', message: 'Error en workflow:\\nNodo: ' + (error.execution?.error?.node?.name || 'Desconocido') + '\\nError: ' + (error.execution?.error?.message || JSON.stringify(error)) + '\\nTimestamp: ' + new Date().toISOString() + '\\nExecution ID: ' + (error.execution?.id || 'N/A') } }];"},"id":"err-format-v4","name":"Formatear Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3232,3728],"disabled":true},{"parameters":{"sendTo":"humbertojavierrivero@gmail.com","subject":"={{ $json.subject }}","message":"={{ $json.message }}","options":{}},"id":"err-email-v4","name":"Notificar Error Email","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-2912,3728],"webhookId":"0092ef50-cd55-454a-bf1e-a7f7c897cd46","credentials":{"gmailOAuth2":{"id":"SBFeGs003QeJtHnm","name":"Gmail account"}},"disabled":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1 MINI"},"builtInTools":{},"options":{"maxTokens":800}},"id":"llm-guard-v4","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-1744,3424],"credentials":{"openAiApi":{"id":"U3PJrrsynoQzlFlh","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1 MINI"},"builtInTools":{},"options":{"maxTokens":800}},"id":"llm-agent-v4","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-1104,3312],"credentials":{"openAiApi":{"id":"U3PJrrsynoQzlFlh","name":"OpenAi account"}}},{"parameters":{"sendTo":"humbertojavierrivero@gmail.com","subject":"=Escalación WhatsApp - {{ $('Preparar Datos').item.json.pushName }}","message":"={{ $fromAI('message', 'Resumen de la consulta del paciente') }}","options":{}},"id":"tool-escalar-v4","name":"Escalar a Humano","type":"n8n-nodes-base.gmailTool","typeVersion":2.2,"position":[1088,3568],"webhookId":"c4b8c830-9d15-49d0-94c2-8976e7cf70dc","credentials":{"gmailOAuth2":{"id":"SBFeGs003QeJtHnm","name":"Gmail account"}}},{"parameters":{"calendar":{"__rl":true,"value":"humbertojavierrivero@gmail.com","mode":"id"},"start":"={{ $fromAI('start', 'Fecha/hora inicio ISO 8601') }}","end":"={{ $fromAI('end', 'Fecha/hora fin ISO 8601') }}","additionalFields":{"summary":"={{ $fromAI('summary', 'Título: CITA-NombrePaciente') }}"}},"id":"tool-crear-cal-v4","name":"Crear Cita Calendar","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-640,3808],"credentials":{"googleCalendarOAuth2Api":{"id":"2ihPS4t34rGRtCFA","name":"Google Calendar account"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"humbertojavierrivero@gmail.com","mode":"id"},"eventId":"={{ $fromAI('Event_ID', 'ID del evento de Google Calendar') }}","updateFields":{"end":"={{ $fromAI('end', 'Nueva fecha/hora fin ISO 8601') }}","start":"={{ $fromAI('start', 'Nueva fecha/hora inicio ISO 8601') }}"}},"id":"tool-update-cal-v4","name":"Actualizar Cita Calendar","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-448,3808],"credentials":{"googleCalendarOAuth2Api":{"id":"2ihPS4t34rGRtCFA","name":"Google Calendar account"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"humbertojavierrivero@gmail.com","mode":"id"},"eventId":"={{ $fromAI('Event_ID', 'ID del evento de Google Calendar a eliminar') }}","options":{}},"id":"tool-del-cal-v4","name":"Eliminar Cita Calendar","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-240,3824],"credentials":{"googleCalendarOAuth2Api":{"id":"2ihPS4t34rGRtCFA","name":"Google Calendar account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"humbertojavierrivero@gmail.com","mode":"id"},"returnAll":true,"options":{}},"id":"tool-disp-cal-v4","name":"Ver Disponibilidad Calendar","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-832,3728],"credentials":{"googleCalendarOAuth2Api":{"id":"2ihPS4t34rGRtCFA","name":"Google Calendar account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM pacientes WHERE telefono = '{{ $fromAI(\"telefono\", \"Numero de telefono del paciente\") }}' AND clinica_id = {{ $('Preparar Datos').item.json.clinicaId }}","options":{}},"id":"tool-bp-v4b","name":"Buscar Paciente DB","type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[0,3872],"credentials":{"postgres":{"id":"qUemVVy0Pv8Oyhi5","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO pacientes (telefono, nombre, email, fecha_nacimiento, notas, clinica_id) VALUES ('{{ $fromAI(\"telefono\", \"Telefono obligatorio\") }}', '{{ $fromAI(\"nombre\", \"Nombre obligatorio\") }}', NULLIF('{{ $fromAI(\"email\", \"Email opcional\") }}', ''), NULLIF('{{ $fromAI(\"fecha_nacimiento\", \"Fecha YYYY-MM-DD opcional\") }}', '')::date, NULLIF('{{ $fromAI(\"notas\", \"Notas opcional\") }}', ''), {{ $('Preparar Datos').item.json.clinicaId }}) RETURNING *","options":{}},"id":"tool-rp-v4b","name":"Registrar Paciente DB","type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[208,3872],"credentials":{"postgres":{"id":"qUemVVy0Pv8Oyhi5","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT id, event_id_google, paciente_telefono, paciente_nombre, fecha_cita::text, hora_cita::text, tipo_cita, estado, notas FROM citas WHERE paciente_telefono = '{{ $fromAI(\"telefono\", \"Telefono del paciente\") }}' AND clinica_id = {{ $('Preparar Datos').item.json.clinicaId }} ORDER BY fecha_cita DESC, hora_cita DESC","options":{}},"id":"tool-bc-v4b","name":"Buscar Cita DB","type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[400,3872],"credentials":{"postgres":{"id":"qUemVVy0Pv8Oyhi5","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO citas (event_id_google, paciente_telefono, paciente_nombre, fecha_cita, hora_cita, tipo_cita, estado, notas, clinica_id) VALUES ('{{ $fromAI(\"event_id_google\", \"ID evento Google Calendar\") }}', '{{ $fromAI(\"paciente_telefono\", \"Telefono\") }}', '{{ $fromAI(\"paciente_nombre\", \"Nombre\") }}', LEFT('{{ $fromAI(\"fecha_cita\", \"Fecha YYYY-MM-DD\") }}', 10)::date, LEFT('{{ $fromAI(\"hora_cita\", \"Hora HH:MM\") }}', 5)::time, '{{ $fromAI(\"tipo_cita\", \"Tipo de cita\") }}', 'Pendiente', NULLIF('{{ $fromAI(\"notas\", \"Notas opcional\") }}', ''), {{ $('Preparar Datos').item.json.clinicaId }}) RETURNING *","options":{}},"id":"tool-gc-v4b","name":"Guardar Cita DB","type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[608,3872],"credentials":{"postgres":{"id":"qUemVVy0Pv8Oyhi5","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE citas SET estado = '{{ $fromAI(\"nuevo_estado\", \"Estado: Confirmada, Modificada, Cancelada o Completada\") }}' WHERE event_id_google = '{{ $fromAI(\"event_id_google\", \"ID evento Google Calendar\") }}' AND clinica_id = {{ $('Preparar Datos').item.json.clinicaId }} RETURNING id, event_id_google, estado","options":{}},"id":"tool-ac-v4b","name":"Actualizar Estado Cita DB","type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[800,3872],"credentials":{"postgres":{"id":"qUemVVy0Pv8Oyhi5","name":"Postgres account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Preparar Datos').item.json.instanceName }}_{{ $('Preparar Datos').item.json.sessionId }}","contextWindowLength":10},"id":"memory-v4","name":"Memoria de conversacion","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1008,3520],"credentials":{"postgres":{"id":"qUemVVy0Pv8Oyhi5","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE citas SET fecha_cita = LEFT('{{ $fromAI(\"fecha_cita\", \"Nueva fecha YYYY-MM-DD\") }}', 10)::date, hora_cita = LEFT('{{ $fromAI(\"hora_cita\", \"Nueva hora HH:MM\") }}', 5)::time, estado = 'Modificada' WHERE event_id_google = '{{ $fromAI(\"event_id_google\", \"ID evento Google Calendar\") }}' AND clinica_id = {{ $('Preparar Datos').item.json.clinicaId }} RETURNING id, event_id_google, fecha_cita::text, hora_cita::text, estado","options":{}},"id":"tool-mc-v4b","name":"Modificar Cita DB","type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[1008,3872],"credentials":{"postgres":{"id":"qUemVVy0Pv8Oyhi5","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT cc.nombre_clinica, cc.direccion, cc.telefono, cc.email, cc.nombre_bot, cc.horarios, cc.servicios, cc.mensaje_bienvenida, cc.prompt_sistema, c.id as clinica_id, c.instance_name\nFROM configuracion_clinica cc\nJOIN clinicas c ON cc.clinica_id = c.id\nWHERE c.instance_name = '{{ $('Validar Instance Name').item.json.instanceName }}'\nLIMIT 1","options":{}},"id":"leer-config-panel-001","name":"Leer Config Panel","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1984,2800],"credentials":{"postgres":{"id":"qUemVVy0Pv8Oyhi5","name":"Postgres account"}}},{"parameters":{"jsCode":"const instanceRaw = $('Webhook Evolution API').first().json.body.instance || '';\nconst instanceName = instanceRaw.replace(/[^a-zA-Z0-9_-]/g, '');\nif (!instanceName) {\n  throw new Error('Instance name invalido o vacio');\n}\nreturn [{ json: { instanceName } }];"},"id":"validar-instance-001","name":"Validar Instance Name","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3232,2800]}],"connections":{"Webhook Evolution API":{"main":[[{"node":"Solo Chats Privados","type":"main","index":0},{"node":"Validar Instance Name","type":"main","index":0}]]},"Solo Chats Privados":{"main":[[{"node":"Tipo de Mensaje","type":"main","index":0}]]},"Tipo de Mensaje":{"main":[[{"node":"Preparar Datos","type":"main","index":0}],[{"node":"Esperar 2s (audio listo)","type":"main","index":0}],[{"node":"Preparar Resp No Soportado","type":"main","index":0}]]},"Preparar Datos":{"main":[[{"node":"Guardrails1","type":"main","index":0}]]},"Guardrails1":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Enviar texto1","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Guardrails","type":"main","index":0}]]},"Guardrails":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Esperar 2s (audio listo)":{"main":[[{"node":"Obter media em base64","type":"main","index":0}]]},"Obter media em base64":{"main":[[{"node":"Convertir Base64 a Binario","type":"main","index":0}]]},"Convertir Base64 a Binario":{"main":[[{"node":"Transcribir con Whisper","type":"main","index":0}]]},"Transcribir con Whisper":{"main":[[{"node":"Preparar Datos","type":"main","index":0}]]},"Preparar Resp No Soportado":{"main":[[{"node":"Resp Tipo No Soportado","type":"main","index":0}]]},"Error en Workflow":{"main":[[{"node":"Formatear Error","type":"main","index":0}]]},"Formatear Error":{"main":[[{"node":"Notificar Error Email","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Guardrails1","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Escalar a Humano":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Ver Disponibilidad Calendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Crear Cita Calendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Actualizar Cita Calendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Eliminar Cita Calendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Buscar Paciente DB":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Registrar Paciente DB":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Buscar Cita DB":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Guardar Cita DB":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Actualizar Estado Cita DB":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Memoria de conversacion":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Modificar Cita DB":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Validar Instance Name":{"main":[[{"node":"Leer Config Panel","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Asuncion","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"8b2b2fbf-6c15-4de1-8509-4bee6adea16d","activeVersionId":null,"versionCounter":142,"triggerCount":1,"shared":[{"updatedAt":"2026-03-20T06:00:34.181Z","createdAt":"2026-03-20T06:00:34.181Z","role":"workflow:owner","workflowId":"kLpuSxhruNC5Ycas","projectId":"dCihpBXBOmEj4Huf","project":{"updatedAt":"2026-02-23T01:30:55.684Z","createdAt":"2026-02-23T01:06:56.151Z","id":"dCihpBXBOmEj4Huf","name":"Humberto Rivero <humbertojavierrivero@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ad681637-a4c9-406b-8dd7-4e2be9b3860c","projectRelations":[{"updatedAt":"2026-02-23T01:06:56.151Z","createdAt":"2026-02-23T01:06:56.151Z","userId":"ad681637-a4c9-406b-8dd7-4e2be9b3860c","projectId":"dCihpBXBOmEj4Huf","user":{"updatedAt":"2026-03-21T03:34:41.000Z","createdAt":"2026-02-23T01:06:55.736Z","id":"ad681637-a4c9-406b-8dd7-4e2be9b3860c","email":"humbertojavierrivero@gmail.com","firstName":"Humberto","lastName":"Rivero","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-02-23T01:31:20.963Z","personalization_survey_n8n_version":"2.4.4","companySize":"20-99","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"p6-iJMmSSbGDGgIhPbeyf","userActivatedAt":1773431417013,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1773717479816}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-21","isPending":false}}]}}],"tags":[],"activeVersion":null}